version: "3"
services:

  laravel-docker:
    build:
      context: .
      dockerfile: ./dockerfiles/laravel/Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - "8001:8000"
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql_db
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: root
      DB_PASSWORD: root
    depends_on:
      - mysql_db
    command: /var/www/html/entrypoint.sh
    networks:
      - synctify-network

  mysql_db:
    image: linuxserver/mariadb:alpine
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
    ports:
      - "3309:3306"
    networks:
      - synctify-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - synctify-network

  echo-server:
    build:
      context: .
      dockerfile: ./dockerfiles/echo/Dockerfile
    working_dir: /app
    ports:
      - "6001:6001"
    networks:
      - synctify-network

  queue-worker:
    build:
      context: .
      dockerfile: ./dockerfiles/laravel/Dockerfile
    volumes:
      - .:/var/www/html
    command: php artisan queue:listen --verbose --tries=3 --timeout=600
    restart: always
    depends_on:
      - mysql_db
      - redis
    networks:
      - synctify-network


networks:
  synctify-network:
    driver: bridge
